.employee-form {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
  font-size: var(--font-size-medium);
  .form-control {
    padding: 0.5rem;
    font-size: var(--font-size-medium);
    width: 14rem;
  }
  .form-check-input {
    width: auto;
  }
  select {
    font-size: var(--font-size-medium);
    padding: 0.5rem;
    width: 14rem;
  }
  button {
    font-size: var(--font-size-medium);
    padding: 0.5rem;
    width: 14rem;
  }
  .error {
    font-size: var(--font-size-small);
    margin-left: 0.5rem;
    color: var(--error-color);
  }
}
