.employee-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0;
  a {
    width: 25%;
  }
  .employee-item {
    color: var(--text-color);
    padding: 1rem;
    border: 1px solid white;
  }
}
@media (max-width: 992px) {
  .employee-list a {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .employee-list a {
    width: 100%;
  }
}
